<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.email %></td>
        <td><%= item.age %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%== pagy_nav(@pagy) %>

<%= link_to 'New Item', new_item_path %>
